@property --vi-100 {
	inherits: false;
	initial-value: 0px;
	syntax: '<length>';
}

html {
	font-size: calc(var(--base) / 16 * 100%);
}

:root {
	--base-min: 18;
	--base-max: 24;

	--vw-min: 320;
	--vw-max: 640;

	--vi-100: 100vi;
	--w: calc(tan(atan2(var(--vi-100), 1px)));

	--progress: clamp(
		0,
		(var(--w) - var(--vw-min)) / (var(--vw-max) - var(--vw-min)),
		1
	);

	--base: calc(
		(var(--base-min) + (var(--base-max) - var(--base-min)) * var(--progress))
	);

	@media (--desktop) {
		--base-min: 14;
		--base-max: 21;

		--vw-min: 640;
		--vw-max: 1440;
	}
}
