html {
	font-family: var(--font__text);
	font-weight: var(--typography__font-weight);
	color: var(--color__foreground);
	background-color: var(--color__background);
}

a {
	color: var(--color__link);
	text-decoration-color: var(--color__link-border);
	text-decoration-line: var(--decoration__line);
	text-decoration-thickness: var(--decoration__thickness);
	text-underline-offset: var(--decoration__offset);

	transition:
		color var(--animation__duration--fast) var(--animation__ease),
		background-color var(--animation__duration--fast) var(--animation__ease),
		box-shadow var(--animation__duration--fast) var(--animation__ease-in-out);

	&:focus-visible {
		--decoration-thickness: var(--typography__outline-thickness);
	}
}

strong {
	--color__link: var(--color__foreground--strong);

	font-weight: var(--typography__font-weight--bold);
	color: var(--color__foreground--strong);
}

h1,
h2,
h3 {
	--color__link: var(--color__foreground--title);

	font-weight: var(--typography__font-weight--bold);
	color: var(--color__foreground--title);
}

h1,
h2,
h3,
p {
	margin-inline-start: var(--typography__compensator);
}

button,
select,
input,
textarea {
	transition:
		color var(--animation__duration--fast) var(--animation__ease),
		background-color var(--animation__duration--fast) var(--animation__ease),
		box-shadow var(--animation__duration--fast) var(--animation__ease-in-out);

	&:focus-visible {
		box-shadow: 0 0 0 var(--typography__outline-thickness) var(--color__outline);
	}
}

.capitals {
	text-transform: uppercase;
	letter-spacing: var(--typography__tracking--widest);
}

.box {
	&:focus-visible {
		box-shadow: 0 0 0 var(--typography__outline-thickness) var(--color__outline);
	}
}
